{% extends 'base.html' %}

{% block navbar %}
<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
<li class="nav-item"><a class="nav-link" href="/konsultasi">Diagnosis</a></li>
<li class="nav-item"><a class="nav-link" href="/gejala">Daftar Gejala</a></li>
<li class="nav-item"><a class="nav-link" href="/penyakit">Daftar Penyakit</a></li>
<li class="nav-item active"><a class="nav-link" href="/login">login</a></li>
{% endblock %}

{% block content %}
<div class="container my-5" style="height: 50vh;">
    <div class="row justify-content-center h-100 align-items-center">
        <div class="col-12 col-lg-6 p-5 card">
            <form id="loginForm" action="/login/" method="POST">
                {% csrf_token %}
                <h3>LOGIN</h3>
                <div class="mb-3">
                    <label for="UsernameLogin" class="form-label">Username</label>
                    <input name="username" type="text" class="form-control" id="UsernameLogin">
                </div>
                <div class="mb-3">
                    <label for="passLogin" class="form-label">Password</label>
                    <input name="password" type="password" class="form-control" id="passLogin">
                </div>
                <button type="submit" class="btn btn-primary"><i class="bi bi-box-arrow-in-right"></i> Login</button>
            </form>
            <script>
                document.querySelector('#loginForm').addEventListener(
                    'submit',
                    function (e) {
                        var form = this;

                        e.preventDefault(); // <--- prevent form from submitting

                        Swal.fire({
                            title: 'Memproses login...',
                            allowEscapeKey: false,
                            allowOutsideClick: false,
                        });
                        swal.showLoading();
                        form.submit();
                    });
            </script>
        </div>
    </div>
</div>
{% endblock %}